{% extends 'burndown_for_what/base.html' %}

{% block extra_js %}
  <script type="text/javascript">
  var lineChartData = {
      labels : [{% for label in burndown_data.days %}"{{ label }}",{% endfor %}],
      datasets : [
          {
              label: "Burndown Line",
              fillColor : "rgba(255,255,255,0.2)",
              strokeColor : "rgba(165,42,42,1)",
              pointColor : "rgba(165,42,42,1)",
              pointStrokeColor : "#fff",
              pointHighlightFill : "#fff",
              pointHighlightStroke : "rgba(220,220,220,1)",
              data : [{% for point in burndown_data.burndown_line %}"{{ point }}",{% endfor %}],
          },
          {
              label: "Score",
              fillColor : "rgba(151,187,205,0.2)",
              strokeColor : "rgba(151,187,205,1)",
              pointColor : "rgba(151,187,205,1)",
              pointStrokeColor : "#fff",
              pointHighlightFill : "#fff",
              pointHighlightStroke : "rgba(151,187,205,1)",
              data : [{% for point in burndown_data.score %}"{{ point }}",{% endfor %}],
          },
          {
              label: "Unplanned",
              fillColor : "rgba(255,127,0,0.2)",
              strokeColor : "rgba(255,127,0,1)",
              pointColor : "rgba(255,127,0,1)",
              pointStrokeColor : "#fff",
              pointHighlightFill : "#fff",
              pointHighlightStroke : "rgba(255,127,0,1)",
              data : [{% for point in burndown_data.unplanned %}"{{ point }}",{% endfor %}],
          }
      ]
  }
window.onload = function(){
  var ctx = document.getElementById("canvas").getContext("2d");
  window.myLine = new Chart(ctx).Line(lineChartData, {
    responsive: true
  });
}
  </script>
{% endblock %}

{% block content %}


  <div class="bs-component">
    <div class="jumbotron">
      <div>
          <canvas id="canvas" height="450" width="600"></canvas>
      </div>
    </div>
    <div class="row">
     <div class="container text-center col-xs-3">
       <div class="well well-lg">
         <span style="font-weight: bold;">{{ sprint.score|floatformat }}</span>
         <br />
         <span>Total Story</span>
       </div>
     </div>

     <div class="container text-center col-xs-3">
       <div class="well well-lg">
         <span style="font-weight: bold;">{{ sprint.scored|floatformat }}</span>
         <br />
         <span>Completed Story Points</span>
       </div>
     </div>

     <div class="container text-center col-xs-3">
       <div class="well well-lg">
         <span style="font-weight: bold;">{{ sprint.issues_count }}</span>
         <br/>
         <span>Total Issues</span>
       </div>
     </div>

     <div class="container text-center col-xs-3">
       <div class="well well-lg">
         <span style="font-weight: bold;">{{ sprint.score_unplanned|floatformat }}</span>
         <br />
         <span>Unplanned Story Points</span>
       </div>
     </div>
   </div>
 </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align: center;">Issues</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Issue</th>
            <th>Title</th>
            <th>Score</th>
            <th>Assignee</th>
            <th>State</th>
            <th>Close At</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in issues %}
              <tr>

                <td class="col-xs-1">
                  <a href="{{issue.url}}" target="_blank">
                    {{ issue.number }}
                  </a>
                </td>

                <td class="col-xs-5">{{ issue.title }}</td>
                <td class="col-xs-1">{{ issue.score|floatformat }}</td>
                <td class="col-xs-2">{{ issue.assignee_login }}</td>

                <td class="col-xs-1">
                    <span class=" {% if issue.state == 'open' %} octicon octicon-issue-opened open {% else %} octicon octicon-issue-closed closed {% endif %}"></span>
                </td>

                <td class="col-xs-2"> {% if issue.closed_at %} {{ issue.closed_at }} {% endif %}</td>
              </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Issues Unplanned</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Issue</th>
            <th>Title</th>
            <th>Score</th>
            <th>Assignee</th>
            <th>State</th>
            <th>Close At</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in issues_unplanned %}
            <tr>

              <td class="col-xs-1">
                <a href="{{issue.url}}" target="_blank">
                  {{ issue.number }}
                </a>
              </td>

              <td class="col-xs-5">{{ issue.title }}</td>
              <td class="col-xs-1">{{ issue.score|floatformat }}</td>
              <td class="col-xs-2">{{ issue.assignee_login }}</td>

              <td class="col-xs-1">
                <span class=" {% if issue.state == 'open' %} octicon octicon-issue-opened open {% else %} octicon octicon-issue-closed closed {% endif %}"></span>
              </td>

              <td class="col-xs-2"> {% if issue.closed_at %} {{ issue.closed_at }} {% endif %}</td>

            </tr>
          {% endfor %}
        </tbody>
      </div>
    </table>
  </div>
{% endblock %}
