{% extends 'burndown_for_what/base.html' %}

{% block extra_js %}
  <script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['corechart', 'line']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Day');
      data.addColumn('number', 'Score');
      data.addColumn('number', 'Burndown line');
      data.addColumn('number', 'Score Unplanned');

      data.addRows([
        {% for daily_date, score, burn_score, unplanned in burndown_data %}
          ['{{ daily_date }}',
            {% if score %}{{ score }}{% else%} null {% endif %},
            {{ burn_score }},
            {% if unplanned != None %}{{ unplanned }}{% else%} null {% endif %}
          ],
        {% endfor %}
      ]);

      var options = {
        title: 'Team: {{ team }}',
        subtitle: 'Name: {{ name }}',
        chart: {
          title: 'Team: {{ team }}',
          subtitle: 'Name: {{ name }}'
				},
				height: 700,
				vAxis: {
					title: 'Score',
					ticks: {{ yticks }},
					textStyle: {
						fontSize: 12
					}
        },
				hAxis: {
					textStyle: {
						fontSize: 11
					}
        },
				series: {
					1: {lineDashStyle: [2,2]}
				}

      };

      var chart = new google.visualization.LineChart(document.getElementById('line_bottom_x'));

      chart.draw(data, options);
    }
  </script>
{% endblock %}

{% block content %}


  <div class="bs-component">

    <div class="jumbotron"></div>

    <div class="row">

      <div class="container text-center col-md-3">
        <div class="well well-lg">
          <span class="strong" style="text-align: center;">{{sprint.score}}</span>
          <span>Total Story</span>
        </div>
      </div>

      <div class="container text-center col-md-3">
        <div class="well well-lg">
          <span class="strong" style="text-align: center;">{{sprint.scored}}</span>
          <span>Completed Story Points</span>
        </div>
      </div>

      <div class="container text-center col-md-3">
        <div class="well well-lg">
          <span class="strong" style="text-align: center;">{{sprint.issues_count}}</span>
          <span>Total Issues</span>
        </div>
      </div>

      <div class="container text-center col-md-3">
        <div class="well well-lg">
          <span class="strong" style="text-align: center;">{{sprint.score_unplanned}}</span>
          <span>Unplanned Story Points</span>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align: center;">Issues</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Issue</th>
            <th>Title</th>
            <th>Score</th>
            <th>Assignee</th>
            <th>State</th>
            <th>Close At</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in issues %}
              <tr>

                <td class="col-md-1">
                  <a href="{{issue.url}}" target="_blank">
                    {{ issue.number }}
                  </a>
                </td>

                <td class="col-md-5">{{ issue.title }}</td>
                <td class="col-md-1">{{ issue.score }}</td>
                <td class="col-md-2">{{ issue.assignee_login }}</td>

                <td class="col-md-1">
                    <span class=" {% if issue.state == 'open' %} octicon octicon-issue-opened open {% else %} octicon octicon-issue-closed closed {% endif %}"></span>
                </td>

                <td class="col-md-2"> {% if issue.closed_at %} {{ issue.closed_at }} {% endif %}</td>
              </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align: center;">Issues Unplanned</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Issue</th>
            <th>Title</th>
            <th>Score</th>
            <th>Assignee</th>
            <th>State</th>
            <th>Close At</th>
          </tr>
        </thead>
        <tbody>
          {% for issue in issues_unplanned %}
            <tr>

              <td class="col-md-1">
                <a href="{{issue.url}}" target="_blank">
                  {{ issue.number }}
                </a>
              </td>

              <td class="col-md-5">{{ issue.title }}</td>
              <td class="col-md-1">{{ issue.score }}</td>
              <td class="col-md-2">{{ issue.assignee_login }}</td>

              <td class="col-md-1">
                <span class=" {% if issue.state == 'open' %} octicon octicon-issue-opened open {% else %} octicon octicon-issue-closed closed {% endif %}"></span>
              </td>

              <td class="col-md-2"> {% if issue.closed_at %} {{ issue.closed_at }} {% endif %}</td>

            </tr>
          {% endfor %}
        </tbody>
      </div>
    </table>
  </div>
{% endblock %}
