{% load static %}

<html>
  <head>
    {% block css %}
      <!-- Material Design fonts -->
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" type="text/css" href="{%static 'css/octicons.css' %}" />
      <link rel="stylesheet" type="text/css" href="{%static 'css/burndown_for_what.css' %}" />
      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

      <!-- Bootstrap Material Design -->
      <link rel="stylesheet" type="text/css" href="{%static 'bmd/css/bootstrap-material-design.css' %}">
      <link rel="stylesheet" type="text/css" href="{%static 'bmd/css/ripples.css' %}">

      <link rel="shortcut icon" type="image/png" href="https://cloud.githubusercontent.com/assets/6231505/10681166/4b4d4cce-7905-11e5-9d21-0469ebd11c13.png"/>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block js %}
      <script type="text/javascript" src="{%static 'js/Chart.min.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
  </head>

  <body>
    {% include "topbar.html" %}

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  </body>
